{{#each results}}
<div class="{{@root.styles.result}}">
    <div class="{{@root.styles.textualInfo}}">
        <h3 class="{{@root.styles.header}}">{{display_title}}</h3>
        <small class="{{@root.styles.byline}}">by {{byline}}</small>
        <div>{{{headline}}}</div>
        {{#with link}}
        <a href={{url}} target="_blank">{{suggested_link_text}}</a>
        {{/with}}
    </div>
    <div class="{{@root.styles.poster}}">
        {{#with multimedia}}
        <img src={{src}} >
        {{/with}}
    </div>
</div>
{{/each}}