:local(#textSearchReview) {
    width:400px;
    margin:20px 0;
    height:40px;
    border-radius:5px;
    border:1px solid #EFEFEF;
    color:#337ab7;
    outline:none;
    padding:0 20px;
    font-weight: bold;
}
:local(#textSearchReview):focus {
    border-color: #337ab7;
}

:local(#logo) {
    margin-left:15px;
    position:absolute;
    top:20px;
    right:20px;
}