:local(#textSearchReview) {
    width:350px;
    margin:20px 0;
    height:40px;
    border-radius:5px;
    border:1px solid #EFEFEF;
    outline:none;
    padding:0 20px;
    font-weight: bold;
}

:local(#logo) {
    margin-left:15px;
    vertical-align:middle;
}