:local(.result) {
    width:550px;
    border-bottom:1px solid #EEEEEE;
    padding:20px 0;
}

:local(.result):hover {
    background-color:#EFEFEF;
}

:local(.byline) {
    font-style: italic;
    display:inline-block;
    margin: 0 10px;
}
:local(.headline) {
    font-weight: bold;
    margin:10px 0;
}
:local(.header) {
    display: inline-block;
}
:local(.textualInfo) {
    width:300px;
    display: inline-block;
    vertical-align: middle;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
}
:local(.poster) {
    max-width: 195px;
    display: inline-block;
    vertical-align: middle;
    padding:5px;
}

:local(.poster) > img {
    max-width:100%;
}
:local(a) {
    text-decoration:none;
    color:#000000;
}
